<a href="https://colab.research.google.com/github/juvi-160/YBI-Internship/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
school = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/School%20Ratings.csv')

In [ ]:
school.head()

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,Allendale Elementary School,5.0,851.0,10.0,90.2,95.8,15.7,Public,89.4,85.2,54.0,2.9,85.5,1.6,5.6
1,Anderson Elementary,2.0,412.0,71.0,32.8,37.3,12.8,Public,43.0,38.3,32.0,3.9,86.7,1.0,4.9
2,Avoca Elementary,4.0,482.0,43.0,78.4,83.6,16.6,Public,75.7,73.0,29.0,1.0,91.5,1.2,4.4
3,Bailey Middle,0.0,394.0,91.0,1.6,1.0,13.1,Public Magnet,2.1,4.4,30.0,80.7,11.7,2.3,4.3
4,Barfield Elementary,4.0,948.0,26.0,85.3,89.2,14.8,Public,81.3,79.6,64.0,11.8,71.2,7.1,6.0

In [ ]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 347 non-null    object
 1   school_rating        347 non-null    float64
 2   size                 347 non-null    float64
 3   reduced_lunch        347 non-null    float64
 4   state_percentile_16  347 non-null    float64
 5   state_percentile_15  341 non-null    float64
 6   stu_teach_ratio      347 non-null    float64
 7   school_type          347 non-null    object
 8   avg_score_15         341 non-null    float64
 9   avg_score_16         347 non-null    float64
 10  full_time_teachers   347 non-null    float64
 11  percent_black        347 non-null    float64
 12  percent_white        347 non-null    float64
 13  percent_asian        347 non-null    float64
 14  percent_hispanic     347 non-null    float64
dtypes: float64(13), object(2)
memory usage: 40.8+ KB

In [ ]:
school.describe()

,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
count,347.000000,347.000000,347.000000,347.000000,341.000000,347.000000,341.000000,347.000000,347.000000,347.000000,347.000000,347.000000,347.000000
mean,2.968300,699.472622,50.279539,58.801729,58.249267,15.461671,57.004692,57.049856,44.939481,21.197983,61.673487,2.642651,11.164553
std,1.690377,400.598636,25.480236,32.540747,32.702630,5.725170,26.696450,27.968974,22.053386,23.562538,27.274859,3.109629,12.030608
min,0.000000,53.000000,2.000000,0.200000,0.600000,4.700000,1.500000,0.100000,2.000000,0.000000,1.100000,0.000000,0.000000
25%,2.000000,420.500000,30.000000,30.950000,27.100000,13.700000,37.600000,37.000000,30.000000,3.600000,40.600000,0.750000,3.800000
50%,3.000000,595.000000,51.000000,66.400000,65.800000,15.000000,61.800000,60.700000,40.000000,13.500000,68.700000,1.600000,6.400000
75%,4.000000,851.000000,71.500000,88.000000,88.600000,16.700000,79.600000,80.250000,54.000000,28.350000,85.950000,3.100000,13.800000
max,5.000000,2314.000000,98.000000,99.800000,99.800000,111.000000,99.000000,98.900000,140.000000,97.400000,99.700000,21.100000,65.200000

In [ ]:
school.describe(include='all')

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
count,347,347.000000,347.000000,347.000000,347.000000,341.000000,347.000000,347,341.000000,347.000000,347.000000,347.000000,347.000000,347.000000,347.000000
unique,341,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Liberty Elementary,NaN,NaN,NaN,NaN,NaN,NaN,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,NaN,NaN,NaN,NaN,NaN,NaN,292,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.968300,699.472622,50.279539,58.801729,58.249267,15.461671,NaN,57.004692,57.049856,44.939481,21.197983,61.673487,2.642651,11.164553
std,NaN,1.690377,400.598636,25.480236,32.540747,32.702630,5.725170,NaN,26.696450,27.968974,22.053386,23.562538,27.274859,3.109629,12.030608
min,NaN,0.000000,53.000000,2.000000,0.200000,0.600000,4.700000,NaN,1.500000,0.100000,2.000000,0.000000,1.100000,0.000000,0.000000
25%,NaN,2.000000,420.500000,30.000000,30.950000,27.100000,13.700000,NaN,37.600000,37.000000,30.000000,3.600000,40.600000,0.750000,3.800000
50%,NaN,3.000000,595.000000,51.000000,66.400000,65.800000,15.000000,NaN,61.800000,60.700000,40.000000,13.500000,68.700000,1.600000,6.400000
75%,NaN,4.000000,851.000000,71.500000,88.000000,88.600000,16.700000,NaN,79.600000,80.250000,54.000000,28.350000,85.950000,3.100000,13.800000
max,NaN,5.000000,2314.000000,98.000000,99.800000,99.800000,111.000000,NaN,99.000000,98.900000,140.000000,97.400000,99.700000,21.100000,65.200000

In [ ]:
#display shape
school.shape

(347, 15)

In [ ]:
#display column labels
school.columns

Index(['name', 'school_rating', 'size', 'reduced_lunch', 'state_percentile_16',
       'state_percentile_15', 'stu_teach_ratio', 'school_type', 'avg_score_15',
       'avg_score_16', 'full_time_teachers', 'percent_black', 'percent_white',
       'percent_asian', 'percent_hispanic'],
      dtype='object')

In [ ]:
#select a column as a series
school['name']

0       Allendale Elementary School
1               Anderson Elementary
2                  Avoca Elementary
3                     Bailey Middle
4               Barfield Elementary
                   ...
342    Winfree Bryant Middle School
343      Winstead Elementary School
344             Woodland Elementary
345          Woodland Middle School
346                   Wright Middle
Name: name, Length: 347, dtype: object

In [ ]:
school['name'].shape

(347,)

In [ ]:
#selecy a column as a dataframe
school[['name']]

In [ ]:
#unique categories in a column
school['name'].unique()

In [ ]:
#no of unique categories in a column
school['name'].nunique()

341

In [ ]:
school['name'].value_counts()

name
Liberty Elementary                     3
South Side Elementary                  2
Johnson Elementary                     2
Eakin Elementary                       2
Rock Springs Elementary                2
                                      ..
Hillsboro Elementary/ Middle School    1
Highland Park Elementary               1
Hickman Elementary                     1
Hendersonville High School             1
Wright Middle                          1
Name: count, Length: 341, dtype: int64

In [ ]:
#count missing values
school.isna().sum()

name                   0
school_rating          0
size                   0
reduced_lunch          0
state_percentile_16    0
state_percentile_15    6
stu_teach_ratio        0
school_type            0
avg_score_15           6
avg_score_16           0
full_time_teachers     0
percent_black          0
percent_white          0
percent_asian          0
percent_hispanic       0
dtype: int64

In [ ]:
school.isnull().sum()

name                   0
school_rating          0
size                   0
reduced_lunch          0
state_percentile_16    0
state_percentile_15    6
stu_teach_ratio        0
school_type            0
avg_score_15           6
avg_score_16           0
full_time_teachers     0
percent_black          0
percent_white          0
percent_asian          0
percent_hispanic       0
dtype: int64